<header class="header-section">
    <div class="header-section__header header">
        <div class="container header-section__nav-container">
            <a href="#" class="header__logo">
                Logo
            </a>
            <!-- Основное меню -->
            <nav class="header__nav nav-menu">
                <ul class="nav-menu__list">
                    <li class="nav-menu__list-item"><a class="nav-menu__link" href="#">Страница 1</a></li>
                    <li class="nav-menu__list-item"><a class="nav-menu__link" href="#">Страница 2</a></li>
                    <li class="nav-menu__list-item"><a class="nav-menu__link" href="#">Страница 3</a></li>
                    <li class="nav-menu__list-item"><a class="nav-menu__link" href="#">Страница 4</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>